@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 45 920;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/woff2/PretendardVariable.woff2')
    format('woff2-variations');
}

html,
body,
#root {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@theme {
  --color-*: initial;
  --color-white: #fafaf8;
  --color-gray-100: #eeeeee;
  --color-gray-200: #e0e0e0;
  --color-gray-300: #828282;
  --color-black: #1a1a1a;
  --color-green: #48c637;
  --color-red: #d33838;
  --color-blue: #4ba2e9;

  --font-family-sans: 'Pretendard', sans-serif;
}
